header
    .header
        h1 Шапка сайта
         header
            nav
                ul
                    li
                        a Каталог
                    li
                        a Подробнее
                    li
                        a О нас
                    li
                        a Новости