doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/style.css")
    body
    include modules/header
        header
            nav
                ul
                   li
                        a Главная
                    li
                        a Каталог
                    li
                        a Корм
                    li
                        a Особенности
                    li
                        a Породы
                       h2 Особенности
        div.container
            div.text
                 p  Собака (лат. Canis familiaris, или Canis lupus familiaris) - домашнее животное, одно из наиболее популярных
                 (наряду с кошкой) животных- компаньонов.

                p Домашняя собака была описана как самостоятельный биологический вид Canis familiaris Линнеем в 1758 году; в настоящее время данное 
                научное название признаётся организациями, такими как Американское общество маммалогов. Некоторые источники (например, ITIS и MSW3) 
                признают собаку подвидом волка (Canis lupus familiaris). В русскоязычных письменных источниках слово «собака» в значении соответствующего
                животного встречается по крайней мере с 1475 года (начиная с грамоты князя Андрея Васильевича Меньшого Кириллову монастырю).

                p С зоологической точки зрения, собака - плацентарное млекопитающее отряда хищных семейства псовых.

                p Собаки известны своими способностями к обучению, любовью к игре, 
                социальным поведением. Выведены специальные породы собак, предназначенные для 
                различных целей: охоты, охраны, тяги гужевого транспорта и другого, а также декоративные породы (например, болонка,
                пудель).

                h3 По состоянию на 2013 год, МКФ признаёт 339 пород собак, которые классифицируются в 10 групп:
                 ul
                    li Пастушьи;
                    li Сторожевые и охранные собаки
                    li Терьеры;
                    li Таксы:
                    li Лайки, шпицы и другие примитивные породы;
                    li Гончие и собаки, работающие по кровяному следу;
                    li Собаки, работающие со стойкой (легавые);
                    li Собаки, поднимающие дичь, апортирующие её и работающие на воде (спаниели и ретриверы);
                    li Комнатно-декоративные собаки и собаки-компаньоны;
                    li Борзые.
            | Экзаменационная работа студента группы ИСП21.2А span Соломахи Вадима
        include modules/footer