doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/style.css")
    body 
        include modules/header
        header
            nav
                ul
                    li
                        a Каталог
                    li
                        a Корм
                    li
                        a Особенности
                    li
                        a Породы
        div.banner
            img(src="img/bannersob.webp", alt="")
            
              h2 Собаки
              div.container
            div.text
                p  Собака (лат. Canis familiaris, или Canis lupus familiaris) - домашнее животное, одно из наиболее популярных
                 (наряду с кошкой) животных- компаньонов.

                p Домашняя собака была описана как самостоятельный биологический вид Canis familiaris Линнеем в 1758 году; в настоящее время данное 
                научное название признаётся организациями, такими как Американское общество маммалогов. Некоторые источники (например, ITIS и MSW3) 
                признают собаку подвидом волка (Canis lupus familiaris). В русскоязычных письменных источниках слово «собака» в значении соответствующего
                животного встречается по крайней мере с 1475 года (начиная с грамоты князя Андрея Васильевича Меньшого Кириллову монастырю).

                p С зоологической точки зрения, собака - плацентарное млекопитающее отряда хищных семейства псовых.

                p Собаки известны своими способностями к обучению, любовью к игре, 
                социальным поведением. Выведены специальные породы собак, предназначенные для 
                различных целей: охоты, охраны, тяги гужевого транспорта и другого, а также декоративные породы (например, болонка,
                пудель).

                h3 По состоянию на 2013 год, МКФ признаёт 339 пород собак, которые классифицируются в 10 групп:
                 ul
                    li Пастушьи;
                    li Сторожевые и охранные собаки
                    li Терьеры;
                    li Таксы:
                    li Лайки, шпицы и другие примитивные породы;
                    li Гончие и собаки, работающие по кровяному следу;
                    li Собаки, работающие со стойкой (легавые);
                    li Собаки, поднимающие дичь, апортирующие её и работающие на воде (спаниели и ретриверы);
                    li Комнатно-декоративные собаки и собаки-компаньоны;
                    li Борзые.
   
        div.table
            div.container

 <h2>Популярные породы собак</h2>
        table
                tr
                    th (colspan="1") Название
                    th (colspan="1") Размер
                    th (colspan="1") Рост и вес
                    th (colspan="1") Шерсть
                    th (colspan="1") Продолжительность жизни
                    th (colspan="4") Стоимость
                
                 tr
                    td Австральская овчарка
                    td средний
                    td 46-58 см, 17-30 кг
                    td густая, средней длины
                    td 12-15 лет
                    td 15-50 т.р.
                
                tr
                    td Акита-ину
                    td крупный
                    td 58-70 см, 21-40 кг 
                    td средней длины, густая и грубая
                    td 9-14 лет
                    td 35-60 т.р.
                
                tr
                    td Амереканский стаффордширский терьер
                    td (rowspan="3") средний
                    td 43-48 см, 22-30 кг
                    td короткая
                    td 13-15 лет
                    td 10-30 т.р.
               
                tr
                    td Английский бульдог
                    td 50-55 см, 22-25 кг
                    td короткая, жесткая
                    td 8-10 лет
                    td 30-50 т.р.
               
                tr
                    td Бассет-хаунд
                    td 33-38 см, 18-30 кг
                    td короткая, гладкая
                    td 10-13 лет
                    td 15-30 т.р.
                         h2 Любимые собаки
        div.line-images
            div.images
                img(src="img/sobaka.jpg", alt="")
                button Подробнее
            div.images
                img(src="img/sobaka2.jpg", alt="")
                button Подробнее
            div.images
                img(src="img/sobaka1.jpg", alt="")
                button Подробнее
        h2 Собаки
      
        footer
            | Экзаменационная работа студента группы ИСП21.2А span Соломахи Вадима
        include modules/footer