doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/style.css")
    body 
    include modules/header
        header
            nav
                ul
                  li
                        a Каталог
                    li
                        a Корм
                    li
                        a Особенности
                    li
                        a Породы
                        br
                         div.table
            div.container
                <h2>Популярные породы собак</h2>
        table
                tr
                    th (colspan="1") Название
                    th (colspan="1") Размер
                    th (colspan="1") Рост и вес
                    th (colspan="1") Шерсть
                    th (colspan="1") Продолжительность жизни
                    th (colspan="4") Стоимость
                
                 tr
                    td Австральская овчарка
                    td средний
                    td 46-58 см, 17-30 кг
                    td густая, средней длины
                    td 12-15 лет
                    td 15-50 т.р.
                
                tr
                    td Акита-ину
                    td крупный
                    td 58-70 см, 21-40 кг 
                    td средней длины, густая и грубая
                    td 9-14 лет
                    td 35-60 т.р.
                
                tr
                    td Амереканский стаффордширский терьер
                    td (rowspan="3") средний
                    td 43-48 см, 22-30 кг
                    td короткая
                    td 13-15 лет
                    td 10-30 т.р.
               
                tr
                    td Английский бульдог
                    td 50-55 см, 22-25 кг
                    td короткая, жесткая
                    td 8-10 лет
                    td 30-50 т.р.
               
                tr
                    td Бассет-хаунд
                    td 33-38 см, 18-30 кг
                    td короткая, гладкая
                    td 10-13 лет
                    td 15-30 т.р.А
        footer
            | Экзаменационная работа студента группы ИСП21.2А span Соломахи Вадима
        include modules/footer